<h1>Applied Data Science Capstone Project</h1>
<h3>Battle of the Neighborhoods: Health and Location</h3>
<em>By Jeremy Schutte</em>

## Table of Contents
- [Introduction / Business Problem](#introduction)
- [Data](#data)
- [Methodology](#methodology)
- [Results](#results)
- [Discussion](#discussion)
- [Conclusion](#conclusion)

<a id='introduction'></a>
## Introduction / Business Problem

First off, I thought it would be neat to combine the report and notebook together into one document, and why not?  Isn't that one of the points of Data Science, to provide more timely, interesting, and interactive means of looking at the data?  Isn't that more appetizing?

Now, on to the main course.  Wouldn't it be interesting to show the correlation between certain types of places and certain health indicators?  Proving causation one way or another is well beyond the scope of this project (it's more of a thesis or serious reject paper), but just showing that certain establishments are linked to certain health problems (such as clustering of bars with problems of alchoholism and binge drinking, and obesity with fast food restaurants) could be interesting to both public health officials trying to alleviate the problems with the iron hand of government or unscrupulous business people trying to profit from the misery of others.

And that, in a nutshell (sorry, I guess this is a main course for squirrels, only), is what this project will try to show.

<a id='data'></a>
## Data

To do this kind of project, you need two data sources:  The first is health indicators.  Luckily, the CDC was kind enough to publish a large local data health indicators dataset which I will be using for this project.  <a href="https://chronicdata.cdc.gov/500-Cities/500-Cities-Local-Data-for-Better-Health-2017-relea/6vp6-wxuq">You can find it through here, if you want.</a>

First, let's get and look at the data.  I've already downloaded it, so just need to load it:

In [1]:
import pandas as pd
import numpy as np

# hdf = health data frame
hdf = pd.read_csv("500_Cities__Local_Data_for_Better_Health__2017_release.csv")

In [2]:
print("This data set has {:,} observations of data before cleaning and filtering".format(hdf.size))
print(set(hdf.columns))
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
hdf.head(1)

This data set has 19,442,472 observations of data before cleaning and filtering
{'TractFIPS', 'MeasureId', 'PopulationCount', 'CityFIPS', 'Data_Value', 'GeoLocation', 'Category', 'Low_Confidence_Limit', 'Data_Value_Footnote_Symbol', 'Year', 'StateDesc', 'GeographicLevel', 'CategoryID', 'DataSource', 'High_Confidence_Limit', 'Short_Question_Text', 'CityName', 'Data_Value_Footnote', 'Data_Value_Unit', 'DataValueTypeID', 'Data_Value_Type', 'StateAbbr', 'UniqueID', 'Measure'}

   Year StateAbbr      StateDesc CityName GeographicLevel DataSource    Category UniqueID                                                         Measure Data_Value_Unit DataValueTypeID          Data_Value_Type  Data_Value  Low_Confidence_Limit  High_Confidence_Limit Data_Value_Footnote_Symbol Data_Value_Footnote  PopulationCount GeoLocation CategoryID MeasureId  CityFIPS  TractFIPS Short_Question_Text
0  2015  US        United States  NaN      US              BRFSS      Prevention  59       Current lack of health insurance among adults aged 18–64 Years  %               AgeAdjPrv       Age-adjusted prevalence  15.4        15.1                  15.7                   NaN                        NaN                 308745538.0      NaN         PREVENT    ACCESS2  NaN       NaN         Health Insurance

Let's get rid of some superfulous columns first and filter out some NaNs:

In [3]:
hdf = hdf[['Year','StateAbbr', 'CityName', 'GeographicLevel','DataSource','Category', 'Measure','Data_Value_Unit','Data_Value_Type', 'Data_Value', 'Low_Confidence_Limit','High_Confidence_Limit','PopulationCount','GeoLocation']]
hdf = hdf[hdf.StateAbbr.notnull()]
hdf = hdf[hdf.GeoLocation.notnull()]
hdf = hdf[hdf.StateAbbr != 'US']
hdf = hdf[hdf.PopulationCount > 100] # Filtering out tiny or rare problems
hdf.size

10981544

In [4]:
cityMeanPop = hdf[hdf.GeographicLevel == 'City'].PopulationCount.mean()
censusTractMeanPop = hdf[hdf.GeographicLevel == 'Census Tract'].PopulationCount.mean()
print("City population mean is: {}, and census tract population mean is: {}".format(cityMeanPop,censusTractMeanPop ))

City population mean is: 206041.616, and census tract population mean is: 3811.3100756746467

In [5]:
set(hdf[(hdf.GeographicLevel == 'City') & (hdf.PopulationCount > 4000000)].CityName)

{'New York'}

In [6]:
hdf[(hdf.CityName == 'New York') & (hdf.GeographicLevel != 'City')].size

827414

To simplify the analysis, we are going to drop all cities except New York, and also drop city wide data:

In [7]:
hdf = hdf[(hdf.CityName == 'New York') & (hdf.GeographicLevel != 'City')]

In [8]:
print("How many types of data values are there?  Just % based: {}".format(set(hdf['Data_Value_Unit'])))

How many types of data values are there?  Just % based: {'%'}

In [9]:
indicators = set(hdf.Measure)
pd.options.display.float_format = '{:,.0f}'.format
print("There are: {} health indicators.  Let's choose the easiest.  Here are all of them as a dataset:".format(len(indicators)))
hdf['affected'] = round(hdf['Data_Value']*hdf['PopulationCount']/100)
health_problems = hdf[['Measure','affected']].groupby('Measure').sum()
health_problems.sort_values(by='affected', ascending=False,inplace=True)
health_problems

There are: 28 health indicators.  Let's choose the easiest.  Here are all of them as a dataset:

                                                                                                                                                                                                affected
Measure
Papanicolaou smear use among adult women aged 21–65 Years                                                                                                                                      6,523,272
Cholesterol screening among adults aged >=18 Years                                                                                                                                             6,131,492
Mammography use among women aged 50–74 Years                                                                                                                                                   6,068,531
Taking medicine for high blood pressure control among adults aged >=18 Years with high blood pressure                                                                                          5,961,371
Visits to doctor for routine checkup within the past Year among adults aged >=18 Years                                                                                                         5,884,990
Visits to dentist or dental clinic among adults aged >=18 Years                                                                                                                                4,938,664
Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50–75 Years                                                                                                           4,915,002
Sleeping less than 7 hours among adults aged >=18 Years                                                                                                                                        3,373,203
High cholesterol among adults aged >=18 Years who have been screened in the past 5 Years                                                                                                       2,826,012
No leisure-time physical activity among adults aged >=18 Years                                                                                                                                 2,536,814
High blood pressure among adults aged >=18 Years                                                                                                                                               2,341,791
Older adult men aged >=65 Years who are up to date on a core set of clinical preventive services: Flu shot past Year, PPV shot ever, Colorectal cancer screening                               2,193,182
Obesity among adults aged >=18 Years                                                                                                                                                           2,057,019
Older adult women aged >=65 Years who are up to date on a core set of clinical preventive services: Flu shot past Year, PPV shot ever, Colorectal cancer screening, and Mammogram past 2 Years 2,035,987
Arthritis among adults aged >=18 Years                                                                                                                                                         1,679,438
All teeth lost among adults aged >=65 Years                                                                                                                                                    1,386,545
Current smoking among adults aged >=18 Years                                                                                                                                                   1,363,844
Binge drinking among adults aged >=18 Years                                                                                                                                                    1,361,733
Current lack of health insurance among adults aged 18–64 Years                                                                                                                                 1,305,748
Physical health not good for >=14 days among adults aged >=18 Years                                                                                                                            1,088,878
Mental health not good for >=14 days among adults aged >=18 Years                                                                                                                              1,066,028
Diagnosed diabetes among adults aged >=18 Years                                                                                                                                                891,878
Current asthma among adults aged >=18 Years                                                                                                                                                    824,115
Chronic obstructive pulmonary disease among adults aged >=18 Years                                                                                                                             466,558
Coronary heart disease among adults aged >=18 Years                                                                                                                                            435,367
Cancer (excluding skin cancer) among adults aged >=18 Years                                                                                                                                    430,962
Stroke among adults aged >=18 Years                                                                                                                                                            252,210
Chronic kidney disease among adults aged >=18 Years                                                                                                                                            222,837

So it looks like the biggest problems are:
* Sleeping less than 7 hours
* High cholestoral / blood pressure / obesity
* No leisure time activity
* Arthritis
* Smoking
* Binge drinking

Among these, I would say that obesity is the easiest to measure versus different types of venues (restaurants, especially fast food restaurants).  Binge drinking, no leisure time, and lack of sleep (especially for the city that never sleeps) could also make interesting areas of study, but we are going to stick to the easiest for this project.

So, let's take out everything else:

In [10]:
hdf = hdf[hdf.Measure.isin(['Obesity among adults aged >=18 Years'])]
hdf.size

31665

Next, let's filter more columns out!  Luckily, the year is the same for all observations, so we don't have to worry about trends or anything like that.

In [64]:
print("Years: {}".format(set(hdf.Year)))
# change name to odf, 'obesity' to keep hdf just in case
odf = hdf[['Data_Value', 'PopulationCount', 'affected']]
odf.columns = ["Percent", "Population", "Affected"]
odf.loc[:,'County'] = np.NaN
odf.loc[:,'BlockCode'] = np.NaN
odf.loc[:,'Pop'] = np.NaN
odf.loc[:,'Lat'] = np.NaN
odf.loc[:,'Long'] = np.NaN

odf.head()

Years: {2015}

c:\users\jeremy\miniconda\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
c:\users\jeremy\miniconda\lib\site-packages\pandas\core\indexing.py:621: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

        Percent  Population    Affected  County  BlockCode  Pop  Lat  Long
498769 37.80000 5,810.00000 2,196.00000 nan     nan        nan  nan  nan
498790 37.00000 2,031.00000 751.00000   nan     nan        nan  nan  nan
499084 38.30000 4,669.00000 1,788.00000 nan     nan        nan  nan  nan
499105 34.10000 5,853.00000 1,996.00000 nan     nan        nan  nan  nan
499252 35.20000 2,711.00000 954.00000   nan     nan        nan  nan  nan

In [65]:
import tqdm
i = 0
for ls in tqdm.tqdm(hdf.GeoLocation):
    lat, long = [float(l) for l in ls[1:-1].split(", ")]
    odf.iloc[i,6] = lat
    odf.iloc[i,7] = long
    i += 1

  0%|                                                                                                                                        | 0/2111 [00:00<?, ?it/s]c:\users\jeremy\miniconda\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
c:\users\jeremy\miniconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
c:\users\jeremy\miniconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2111/2111 [03:28<00:00, 10.13it/s]

In [75]:
odf = odf.reset_index(drop=True)
pd.options.display.float_format = '{:,.5f}'.format
odf.loc[:,'sw'] = np.NaN
odf.loc[:,'ne'] = np.NaN
odf.head()

   Percent  Population    Affected County        BlockCode      Pop      Lat      Long  sw  ne
0 37.80000 5,810.00000 2,196.00000  Bronx  360050051002009 12.00000 40.81331 -73.92738 nan nan
1 37.00000 2,031.00000 751.00000    NaN    NaN             nan      40.82564 -73.88244 nan nan
2 38.30000 4,669.00000 1,788.00000  NaN    NaN             nan      40.85221 -73.92178 nan nan
3 34.10000 5,853.00000 1,996.00000  NaN    NaN             nan      40.82989 -73.87978 nan nan
4 35.20000 2,711.00000 954.00000    NaN    NaN             nan      40.83261 -73.87908 nan nan

In [57]:
res

('Bronx', '360050051002009', [-73.928542, 40.811725, -73.926715, 40.813589])

Now, we are going to use the FCC's geocoding api to assign counties as well as block fips ids.  If there are any overlapping block fips we will merge them like with the Toronto homework.

In [82]:
import requests
def getLocation(lat,long):
    try:
        res = requests.get("https://geo.fcc.gov/api/census/area?lat={}&lon={}&format=json".format(lat,long))
        res = res.json()['results'][0]
        block = res['block_fips']
        county = res['county_name']
        bbox = res['bbox']
        pop = res['block_pop_2015']
        sw = ",".join([str(e) for e in bbox[:2]])
        ne = ",".join([str(e) for e in bbox[2:]])
        return county, block, bbox, pop, sw, ne
    except:
        return


bboxes = []
errors = 0
for i in tqdm.tqdm(range(odf.shape[0])):
    lat = odf.iloc[i,6]
    long = odf.iloc[i,7]
    res = getLocation(lat, long)
    if res:
        odf.iloc[i,3] = res[0]
        odf.iloc[i,4] = res[1]
        odf.iloc[i,5] = res[3]
        odf.iloc[i,8] = res[4]
        odf.iloc[i,9] = res[5]
        bboxes.append(res[2])
    else:
        errors += 1
        
odf.head()

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2111/2111 [03:05<00:00, 11.38it/s]

   Percent  Population    Affected County        BlockCode         Pop      Lat      Long                    sw                    ne
0 37.80000 5,810.00000 2,196.00000  Bronx  360050051002009 12.00000    40.81331 -73.92738  -73.928542,40.811725  -73.926715,40.813589
1 37.00000 2,031.00000 751.00000    Bronx  360050052001001 5.00000     40.82564 -73.88244  -73.883552,40.825398  -73.882275,40.828304
2 38.30000 4,669.00000 1,788.00000  Bronx  360050053001000 2,023.00000 40.85221 -73.92178  -73.923904,40.850341  -73.921334,40.85254
3 34.10000 5,853.00000 1,996.00000  Bronx  360050054002001 985.00000   40.82989 -73.87978  -73.880699,40.828511  -73.879171,40.831139
4 35.20000 2,711.00000 954.00000    Bronx  360050056001001 18.00000    40.83261 -73.87908  -73.879368,40.831265  -73.876993,40.83376

In [83]:
print("How many duplicate block codes are there? Let's see: {}/{}".format(odf.size-odf.groupby('BlockCode').agg("count").size,odf.size))

How many duplicate block codes are there? Let's see: 2111/21110

Since there seems to be little correlation between population from the cdc data and "block" level population, I believe it is a mistake to use this data.  Let's go ahead and drop it.  This was an unfortunate path to waste time on.  At least we can keep the county codes.

In [85]:
df = odf.drop(columns=['BlockCode','Pop','sw','ne'])
df.head()

   Percent  Population    Affected County      Lat      Long
0 37.80000 5,810.00000 2,196.00000  Bronx 40.81331 -73.92738
1 37.00000 2,031.00000 751.00000    Bronx 40.82564 -73.88244
2 38.30000 4,669.00000 1,788.00000  Bronx 40.85221 -73.92178
3 34.10000 5,853.00000 1,996.00000  Bronx 40.82989 -73.87978
4 35.20000 2,711.00000 954.00000    Bronx 40.83261 -73.87908

Instead of using that data, we will use a radial search around the areas of interest.  Now, finally, we can move on to the restaurant data.  Let's save this data first, so we can come back to it without all of that work in the future.

In [86]:
df.to_csv('fat_neighborhoods')

In [9]:
import pandas as pd
import numpy as np
import requests, tqdm, os
fs_id, fs_secret = os.environ['FOURSQUARE_ID'], os.environ['FOURSQUARE_SECRET']

df = pd.read_csv('fat_neighborhoods',index_col=0)
df['Restaurants'] = 0
df.head()

   Percent  Population  Affected County        Lat       Long  Restaurants
0     37.8      5810.0    2196.0  Bronx  40.813308 -73.927382            0
1     37.0      2031.0     751.0  Bronx  40.825642 -73.882436            0
2     38.3      4669.0    1788.0  Bronx  40.852212 -73.921778            0
3     34.1      5853.0    1996.0  Bronx  40.829888 -73.879781            0
4     35.2      2711.0     954.0  Bronx  40.832612 -73.879076            0

In [ ]:
LIMIT = 50
FOOD = "4d4b7105d754a06374d81259"
VERSION = '20201231'


def getNearbyRestaurants(lat,lng, radius=500):
    # create the API request URL
    url = 'https://api.foursquare.com/v2/venues/explore?categoryId={}&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        FOOD,
        fs_id, 
        fs_secret, 
        VERSION, 
        lat, 
        lng, 
        radius, 
        LIMIT)  
    # make the GET request
    try:
        results = requests.get(url).json()["response"]['groups'][0]['items']
        # return only relevant information for each nearby venue
        return [v['venue']['categories'][0]['name'] for v in results]
    except:
        return []

restaurant_types = []
for i in tqdm.tqdm(range(df.shape[0])):
    row = df.iloc[i]
    Percent, Population, Affected, County, Lat, Long, nRests = row
    restaurants = getNearbyRestaurants(Lat,Long)
    df.iloc[i,6] = len(restaurants)
    restaurant_types.append(restaurants)

  0%|                                                                                                                                        | 0/2111 [00:00<?, ?it/s]
  0%|                                                                                                                                | 1/2111 [00:00<08:47,  4.00it/s]
  0%|                                                                                                                                | 2/2111 [00:00<08:11,  4.29it/s]
  0%|▏                                                                                                                               | 3/2111 [00:00<07:30,  4.68it/s]
  0%|▏                                                                                                                               | 4/2111 [00:00<08:08,  4.31it/s]
  0%|▎                                                                                                                               | 5/2111 [00:01<08:10,  4.30it/s]
  0%|▎                                                                                                                               | 6/2111 [00:01<08:20,  4.21it/s]
  0%|▍                                                                                                                               | 7/2111 [00:01<08:04,  4.34it/s]
  0%|▍                                                                                                                               | 8/2111 [00:01<08:06,  4.32it/s]
  0%|▌                                                                                                                               | 9/2111 [00:02<09:06,  3.85it/s]
  0%|▌                                                                                                                              | 10/2111 [00:02<09:00,  3.89it/s]
  1%|▋                                                                                                                              | 11/2111 [00:02<08:47,  3.98it/s]
  1%|▋                                                                                                                              | 12/2111 [00:03<09:42,  3.60it/s]
  1%|▊                                                                                                                              | 13/2111 [00:03<09:32,  3.66it/s]
  1%|▊                                                                                                                              | 14/2111 [00:03<09:20,  3.74it/s]
  1%|▉                                                                                                                              | 15/2111 [00:04<09:22,  3.72it/s]
  1%|▉                                                                                                                              | 16/2111 [00:04<09:24,  3.71it/s]
  1%|█                                                                                                                              | 17/2111 [00:04<09:22,  3.72it/s]
  1%|█                                                                                                                              | 18/2111 [00:04<09:20,  3.74it/s]
  1%|█▏                                                                                                                             | 19/2111 [00:05<09:48,  3.55it/s]
  1%|█▏                                                                                                                             | 20/2111 [00:05<09:38,  3.61it/s]
  1%|█▎                                                                                                                             | 21/2111 [00:05<09:38,  3.61it/s]
  1%|█▎                                                                                                                             | 22/2111 [00:06<09:42,  3.59it/s]
  1%|█▍                                                                                                                             | 23/2111 [00:06<09:33,  3.64it/s]
  1%|█▍                                                                                                                             | 24/2111 [00:06<09:29,  3.66it/s]
  1%|█▌                                                                                                                             | 25/2111 [00:06<09:34,  3.63it/s]
  1%|█▌                                                                                                                             | 26/2111 [00:07<09:29,  3.66it/s]
  1%|█▌                                                                                                                             | 27/2111 [00:07<09:20,  3.72it/s]
  1%|█▋                                                                                                                             | 28/2111 [00:07<09:23,  3.70it/s]
  1%|█▋                                                                                                                             | 29/2111 [00:07<09:21,  3.71it/s]
  1%|█▊                                                                                                                             | 30/2111 [00:08<09:18,  3.73it/s]
  1%|█▊                                                                                                                             | 31/2111 [00:08<09:13,  3.76it/s]
  2%|█▉                                                                                                                             | 32/2111 [00:08<09:06,  3.80it/s]
  2%|█▉                                                                                                                             | 33/2111 [00:09<09:28,  3.66it/s]
  2%|██                                                                                                                             | 34/2111 [00:09<09:20,  3.70it/s]
  2%|██                                                                                                                             | 35/2111 [00:09<09:20,  3.70it/s]
  2%|██▏                                                                                                                            | 36/2111 [00:09<09:17,  3.72it/s]
  2%|██▏                                                                                                                            | 37/2111 [00:09<09:10,  3.77it/s]
  2%|██▎                                                                                                                            | 38/2111 [00:10<09:10,  3.77it/s]

In [ ]:
def getVenuesByQuery(ll,term):
    query = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={}&query={}&v={}".format(
        fs_id,fs_secret,ll,term, version)
    return requests.get(query).json()

def getPremiumVenueDetails(venue_id):
    query = "https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}".format(
        venue_id,fs_id,fs_secret,version)
    return requests.get(query).json()

def exploreVenues(ll):
    query = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={}&v={}".format(
        fs_id,fs_secret,ll,version)
    return requests.get(query).json()

def trendingVenues(ll):
    query = "https://api.foursquare.com/v2/venues/trending?client_id={}&client_secret={}&ll={}&v={}".format(
        fs_id,fs_secret,ll,version)
    return requests.get(query).json()